@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rover_image {
  width: 100%;
  background-color: white;
  transition: transform 0.5s;
  background: white;
  color: #A0A0A042;
  position: relative;
  filter: none;      
}

.rover_image:hover {
  transform: scale(1.05);
  cursor: pointer;
  -webkit-filter: contrast(0.9);
  -moz-filter: contrast(0.9);
  -o-filter: contrast(0.9);
  filter: contrast(0.9);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; 
}